---
# Process a repo, extract, scan, rewrite, scan and save the result

- name: Process - Extract {{ repo.name }}
  # when: __archive is defined and __archive.matched == 1
  ansible.builtin.unarchive:
    remote_src: true
    src: "{{ repo.archive }}"
    dest: "{{ __extracted_dir }}"
    owner: "{{ ansible_env.USER }}"  # Set ownership to avoid permission issues
    mode: '0755'

- name: Process - Scan and rewrite {{ repo.name }}
  ansible.builtin.shell:
    cmd: >
      spotter scan -a {{ ansible_core_version }} {{ spotter_extra_flags }} --rewrite --project-id {{ repo.uuid }} {{ repo.name }}
    chdir: "{{ __extracted_dir }}"
  changed_when: false
  failed_when: false
  loop: "{{ range(0, rewrite_count) | list }}"
  tags: spotter

- name: Process - Re-scan after rewriting {{ repo.name }}
  ansible.builtin.command:
    cmd: spotter scan -a {{ ansible_core_version }} {{ spotter_extra_flags }} --project-id {{ repo.uuid }} {{ repo.name }}
    chdir: "{{ __extracted_dir }}"
  changed_when: false
  failed_when: false
  register: _scan_result
  tags: spotter

- name: Process - Save scan result {{ repo.name }}
  ansible.builtin.copy:
    content: "{{ _scan_result.stdout }}"
    dest: "{{ __extracted_dir }}/{{ repo.name }}/___spotter-report_aws___.txt"
    force: true
    mode: "0444"
  tags: spotter

# - Remove the link to the scan result page
# - Replace ec2-3-130-128-33.us-east-2.compute.amazonaws.com with spotter.steampunk.si
- name: Process - Save scan result 2 {{ repo.name }}
  ansible.builtin.copy:
    content: >
      {{ _scan_result.stdout
        | regex_replace('Visit.+to view this scan result', '')
        | replace('ec2-3-130-128-33.us-east-2.compute.amazonaws.com','spotter.steampunk.si')
      }}
    dest: "{{ __extracted_dir }}/{{ repo.name }}/___spotter-report___.txt"
    force: true
    mode: "0444"
  tags: spotter
