- name: Set facts {{ project.file }}
  ansible.builtin.set_fact:
    _project_dir: "{{ project.file | replace('.tar.gz', '') }}"
    # _result_file: "{{ project.file | replace('.tar.gz', '.txt') }}"
    _result_file: "spotter-scan-and-rewrite_{{ project.file | replace('.tar.gz', '.txt') }}"

- name: Scan and rewrite {{ project.file }}
  ansible.builtin.shell:
    cmd: >
      spotter scan -a 2.16 --project-id {{ project.spotter_uuid }} {{ _project_dir }} ;
      spotter scan -a 2.16 --rewrite --project-id {{ project.spotter_uuid }} {{ _project_dir }}
    chdir: "{{ playbook_dir }}/files/extracted/{{ org }}"
  changed_when: false
  failed_when: false

- name: Re-scan after rewriting {{ project.file }}
  ansible.builtin.command:
    cmd: spotter scan -a 2.16 --project-id {{ project.spotter_uuid }} {{ _project_dir }}
    chdir: "{{ playbook_dir }}/files/extracted/{{ org }}"
  changed_when: false
  failed_when: false
  register: _scan_result

- name: Save scan result {{ project.file }}
  ansible.builtin.copy:
    content: "{{ _scan_result.stdout }}"
    # dest: "{{ playbook_dir }}/files/scan/{{ org }}/{{ _result_file }}"
    dest: "{{ playbook_dir }}/files/extracted/{{ org }}/{{ _project_dir }}/{{ _result_file }}"
    force: true
    mode: "0644"
